.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.samplecell {
  float: left;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/image.png') no-repeat;
  border: 1px solid #000;
}

.inputBoard {
  width: 270px;
  height: 270px;
  background-color: rgb(172 176 176);
}

.bombBoard {
  float: left;
  width: 30px;
  height: 30px;
}

.boardCell {
  float: left;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/minesweeperCell.png') no-repeat;
}
