.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.samplecell {
  float: left;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/image.png') no-repeat;
  background-color: #c6c6c6;
  border: 1px solid #000;
}

.inputBoard {
  width: 270px;
  height: 270px;
  background-color: #c6c6c6;
}

.cell {
  width: 30px;
  height: 30px;
}

.cell2 {
  width: 47px;
  height: 47px;
}

.bombBoard {
  float: left;
  width: 30px;
  height: 30px;
}

.boardCell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #c6c6c6;
  border-top: solid 5px #fff;
  border-right: solid 5px #808080;
  border-bottom: solid 5px #808080;
  border-left: solid 5px #fff;
}

.userInputsCell {
  float: left;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/image.png') no-repeat;
}

.boardCell2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
  background-color: #c6c6c6;
  border-top: solid 5px #fff;
  border-right: solid 5px #808080;
  border-bottom: solid 5px #808080;
  border-left: solid 5px #fff;
}

.smileCell {
  width: 47px;
  height: 47px;
  background: url('~/src/assets/images/image.png') no-repeat;
  background-size: cover;
}

.timeBoard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 84px;
  height: 47.5px;
  background-color: #000;
}

.level1 {
  width: 35px;
  height: 30px;
  background-color: #929292;
}

.level2 {
  width: 35px;
  height: 30px;
  background-color: #929292;
}

.level3 {
  width: 35px;
  height: 30px;
  background-color: #929292;
}

.level4 {
  width: 35px;
  height: 30px;
  background-color: #5e8bec;
}

.levelBoard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 47.5px;
}

.timerCell1 {
  width: 22px;
  height: 43px;
  background: url('~/src/assets/images/0123456789.png') no-repeat;
}

.timerCell2 {
  width: 22px;
  height: 43px;
  background: url('~/src/assets/images/0123456789.png') no-repeat;
}

.timerCell3 {
  width: 22px;
  height: 43px;
  background: url('~/src/assets/images/0123456789.png') no-repeat;
}

.bombCountBoard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 84px;
  height: 47.5px;
  background-color: #000;
}

.bombCell1 {
  width: 22px;
  height: 43px;
  background: url('~/src/assets/images/0123456789.png') no-repeat;
}

.bombCell2 {
  width: 22px;
  height: 43px;
  background: url('~/src/assets/images/0123456789.png') no-repeat;
}

.bombCell3 {
  width: 22px;
  height: 43px;
  background: url('~/src/assets/images/0123456789.png') no-repeat;
}

.bigMatherBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 390px;
  background-color: #a1a1a1a2;
  border-top: solid 5px #fff;
  border-right: solid 5px #7d7d7d;
  border-bottom: solid 5px #7d7d7d;
  border-left: solid 5px #fff;
}

.borderBoard1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 280px;
  background-color: #7d7d7d;
  border-top: solid 5px #7d7d7d;
  border-right: solid 5px #fff;
  border-bottom: solid 5px #fff;
  border-left: solid 5px #7d7d7d;
}

.timeSmileBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 280px;
  height: 70px;
  margin-bottom: 10px;
  background-color: #a1a1a1a2;
  border-top: solid 5px #7d7d7d;
  border-right: solid 5px #fff;
  border-bottom: solid 5px #fff;
  border-left: solid 5px #7d7d7d;
}

.allBoard {
  width: 280px;
  height: 360px;
}
