.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.bombExplosionCell {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
}

.samplecell {
  float: left;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/image.png') no-repeat;
  background-color: rgb(172 176 176);
  border: 1px solid #000;
}

.inputBoard {
  width: 270px;
  height: 270px;
  background-color: rgb(172 176 176);
}

.bombBoard {
  float: left;
  width: 30px;
  height: 30px;
}

.boardCell {
  float: left;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/minesweeperCell.png') no-repeat;
}

.userInputsCell {
  float: left;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/image.png') no-repeat;
}

.motherBoard {
  width: 300px;
  height: 500px;
  padding-top: 95px;
  padding-left: 16px;
  background: url('~/src/assets/images/MotherBoard.png') no-repeat;
}

.boardCell2 {
  width: 47px;
  height: 47.5px;
  margin-top: -73px;
  margin-bottom: 27px;
  margin-left: 112px;
  background: url('~/src/assets/images/minesweeperCell.png') no-repeat;
  background-size: cover;
}

.smileCell {
  width: 47px;
  height: 47.5px;
  background: url('~/src/assets/images/image.png') no-repeat;
  background-size: cover;
}
